<!-- <app-product></app-product> -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-struct-dir></app-struct-dir> -->
<!-- <app-attr-dir></app-attr-dir> -->
<!-- <app-predefined-pipes></app-predefined-pipes> -->
<!-- <app-twoway-bind></app-twoway-bind> -->
<!-- <app-employees></app-employees> -->
<!-- <app-parent></app-parent> -->
<!-- <app-one></app-one>
<app-two></app-two> -->
<!-- <app-template-driven></app-template-driven> -->
<app-model-driven></app-model-driven>