/* You can add global styles to this file, and also import other style files */

.class1{
    color:red;
}
.class2{
    background-color: gold;
}

.btn-success{
    background-color: greenyellow !important;
    color:black !important;
}
